@using BugTracker.Core.DTO.TicketDTO;
@using BugTracker.Core.Enums;
@model TicketAddDTO
<form asp-controller="Tickets" asp-action="Add">
    <div class="mb-3">
        <input type="text" asp-for="Title" class="form-control"></>
    </div>
    <div class="mb-3">
        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <select asp-for="Severity" asp-items="Html.GetEnumSelectList<SeverityOptions>()" class="form-control"></select>
    </div>
    <div class="mb-3">
        @*Only project managers and admins can assign developers*@
        <select asp-for="AssignedDevs" asp-items="ViewBag.Developers" class="form-control" disabled="@ViewBag.isDeveloper"></select>
    </div>
    <div class="mb-3">
        <select asp-for="Type" asp-items="Html.GetEnumSelectList<TicketTypeOptions>()" class="form-control"></select>
    </div>
    <div class="mb-3">
        <select asp-for="Status" asp-items="Html.GetEnumSelectList<StatusOptions>()" class="form-control"></select>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit Ticket</button>
    </div>

</form>