@using BugTracker.UI.DTO.TicketDTO;
@using BugTracker.Core.Enums;
@model TicketAddDTO
<form asp-controller="Projects" asp-action="CreateTicket">
    <div class="mb-3">
        <input type="text" asp-for="Title" class="form-control"></>
    </div>
    <div class="mb-3">
        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <select asp-for="Severity" asp-items="Html.GetEnumSelectList<SeverityOptions>()" class="form-control"></select>
    </div>
    @if (!User.IsInRole("Developer"))
    {
        <div class="mb-3">
            <label class="form-label">Assigned Developers</label>
            @for (int i = 0; i < Model.AssignedDevs.Count(); i++)
            {
                <div class="form-check">
                    <input class="form-check-input" asp-for="AssignedDevs[i].IsChecked">
                    <label class="form-check-label" asp-for="AssignedDevs[i].IsChecked">
                        @Model.AssignedDevs[i].DeveloperName
                    </label>
                    @*<input type="hidden" asp-for="AssignedDevs[i].DeveloperName" value="@Model.AssignedDevs[i].DeveloperName">
                    <input type="hidden" asp-for="AssignedDevs[i].DeveloperId" value="@Model.AssignedDevs[i].DeveloperId">*@
                </div>
            }
        </div>
    }
    <div class="mb-3">
        <select asp-for="Type" asp-items="Html.GetEnumSelectList<TicketTypeOptions>()" class="form-control"></select>
    </div>
    <div class="mb-3">
        <select asp-for="Status" asp-items="Html.GetEnumSelectList<StatusOptions>()" class="form-control"></select>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Submit Ticket</button>
    </div>
</form>