@using BugTracker.UI.DTO.ProjectDTO;
@using BugTracker.Core.Enums;
@model ProjectUpdateDTO

<form asp-controller="Projects" asp-action="Edit">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input type="text" asp-for="Name" class="form-control"></>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
    </div>
        @if (!User.IsInRole("Developer"))
        {
            <div class="mb-3">
                <label class="form-label">Team Members</label>
                @for (int i = 0; i < Model.Team.Count(); i++)
                {
                    <div class="form-check">
                        <input class="form-check-input" asp-for="Team[i].IsChecked">
                        <label class="form-check-label" asp-for="Team[i].IsChecked">
                            @Model.Team[i].DeveloperName
                        </label>
                        @*<input type="hidden" asp-for="Team[i].DeveloperName" value="@Model.Team[i].DeveloperName">
                <input type="hidden" asp-for="Team[i].DeveloperId" value="@Model.Team[i].DeveloperId">*@
                    </div>
                }
            </div>
        }
    <div class="mb-3">
        <label asp-for="RepoLink" class="form-label">Repository Link</label>
        <input type="text" asp-for="RepoLink" class="form-control">
    </div>
    <input type="hidden" asp-for="ProjectId" value=@Model.ProjectId/>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Update Project</button>
    </div>
</form>