@using BugTracker.UI.DTO.ProjectDTO;
@model IEnumerable<ProjectResponseDTO>
<div class="row">
    @if (User.IsInRole("Admin"))
    {
        <div class="col">
            <vc:projects-table>
            </vc:projects-table>
        </div>
    }
    @if (User.IsInRole("Developer"))
    {
        <div class="col">
            <h1></h1>
            <vc:projects-table developer-username=@User.Identity?.Name>
            </vc:projects-table>
        </div>
    }
    @if (User.IsInRole("ProjectManager"))
    {
        <div class="col">
            <h1></h1>
            <vc:projects-table pm-username=@User.Identity?.Name>
            </vc:projects-table>
        </div>
    }

</div>